@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}

body {
    background-image: linear-gradient(to right, #FFFCE6, #F2CC39);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #c7c5b570;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #506AD4;
    text-align: center;
    text-shadow: 1px 1px 2px #394c9788;
}

h2 {
    color: #A3CDD9;
}

p {
    text-align: justify;
}